<div class="container-fluid bg-white">
    <div class="container d-flex justify-content-lg-between py-lg-5 py-6">
        <ul class="p-0">
            <li class="fm-shrik fs-2 mb-lg-0 mb-2">ALPHABOX+</li>
            <span style="font-size: 80px;" class="material-symbols-outlined d-lg-none mb-lg-0 mb-2">emergency</span>
            <ul class="d-lg-none p-0">
                <li class="fw-bold mb-lg-0 mb-2 "><a class="text-reset hvr-forward" href="#">關於我們</a></li>
                <li class="fw-bold mb-lg-0 mb-2"><a class="text-reset hvr-forward" href="#">產品資訊</a></li>
                <li class="fw-bold mb-lg-0 mb-2"><a class="text-reset hvr-forward" href="#">常見問題</a></li>
                <li class="fw-bold mb-lg-0 mb-2"><a class="text-reset hvr-forward" href="#">隱私政策</a></li>
            </ul>
            <li style="letter-spacing:2px;" class="fw-bold">Copyright © 2023 Hexschool.</li>
        </ul>
        <span style="font-size: 80px;" class="material-symbols-outlined d-lg-block d-none">emergency</span>
        <ul class="d-flex align-items-center d-lg-flex d-none">
            <li class="me-4 fw-bold"><a class="text-reset hvr-sink" href="#">關於我們</a></li>
            <li class="me-4 fw-bold"><a class="text-reset hvr-sink" href="#">產品資訊</a></li>
            <li class="me-4 fw-bold"><a class="text-reset hvr-sink" href="#">常見問題</a></li>
            <li class="me-4 fw-bold"><a class="text-reset hvr-sink" href="#">隱私政策</a></li>
        </ul>
    </div>
</div>